
  
body{
background-color:#FCF0ED;
}
form{
	text-align: left;
}
.log{  
border:5px solid #E99C8B; 

margin-top:7em; 

width:30%;

background-color:#E99C8B;
color:#95331D;
padding:4em;

font-family: sans-serif;
 }
 
#Go{margin-top:3em;
width:6em;
}
 
 

.name{width:300px;}
.pas{width:300px;}
.a{margin-top:2em;}